@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

@tailwind variants;
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Poppins', sans-serif;
}

/* Hide all ReactFlow handles during preview mode */
.preview-locked .react-flow__handle {
  opacity: 0 !important;
  pointer-events: none !important;
}
