.placeholder {
  display: contents;
}

.placeholder div {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 100%;
  height: 10px;
  margin-bottom: 4px;
}

.placeholder span:first-child {
  height: 8px;
  width: 85%;
  opacity: 0.6;
  border-radius: 20px;
  margin-bottom: 2px;
}

.placeholder span {
  height: 6px;
  background-color: white;
  width: 95%;
  opacity: 0.4;
}
.placeholder span:last-child {
  width: 90%;
}
